/*  Joseph Doiron's Portfolio
    December 11 2024 */

.full-height-image {
    height: 80vh;
    max-height: 80vh;
    object-fit: cover;
    border-radius: 8px;
}
.text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.navbar-nav {
    font-size: 1.25rem;
    gap: 3rem;
}
.navbar .container {
    justify-content: start;

}
.navbar {
    background-color: #2F4550 !important;
}

.nav-link {
    color: #FFFFFF !important;
}


.nav-link:hover {
    color: #ddd !important;
}
.large-text {
    font-size: 29px;
}


#about img, #experience img, #contact img {
    width: 4rem; 
    height: 4rem; 
    object-fit: contain;
    margin-top: 0.5rem; 
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #F1F7EE;
}

body, body *:not(h1) {
    font-family: 'Roboto', sans-serif;
}